<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    {% csrf_token %}
  <label for="book_id">Количество книг на странице:</label>
  <select id="book_id" name="book_numbers" onchange="this.form.submit()">
      <option value="">{{num}}</option>
{% for number in num_opts %}
    <option>{{number}}</option>
    {% endfor %}
  </select>
</form>
{% for book in page_obj %}
    {# Каждая "book" из модели Books.objects #}
<h1>{{ book.Title }} | {{ book.Description }}</h1><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;  Первая |</a>
            <a href="?page={{ page_obj.previous_page_number }}">| Предыдущая |</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">| Следующая |</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">| Заключительная &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>