<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <label for="book_number">Количество книг на странице:</label>
  <select id="book_number" name="boobs">
    <option value="1">Яблоко</option>
    <option value="2">Банан</option>
    <option value="3">Апельсин</option>
  </select>
</form>
</body>
</html>

<!--      # и так пробовал-->
<!--    <option value="{{number}}">{{number}}</option>-->
<!--      # и так , так должно посылать занчение <option>-->

<!--{% for number in len_list %}-->
<!--    <option value="number1">{{number}}</option>-->


<!--{% endfor %}-->