<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{info}}</p>
<form method="post">
    {% csrf_token %}
<label for = l_login> Введите логин:</label>
<input type="text" id="user_login" name="username" maxlength="30" required>
<label for = l_pwd> Введите пароль:</label>
<input type='password' id="user_psw" name="password" minlength="8" required>
<label for = l_psw_rep> Повторите пароль:</label>
<input type="password" id="user_pwd_rep" name="password_repeat" minlength="8" required>
<label for = l_age> Введите возраст:</label>
<input type="number" id="user_age" name="age" maxlength="3" required>
    <button type="submit">Отправить</button>
</form>
</body>
</html>