{% extends 'main.html'%}

{% block crud_container %}
    {% if user %}
     <article class="card">
        <br>
        <h2>ID : {{user.id}}</h2>
        <p>
            <strong>Имя: {{user.username}}</strong>
        </p>
        <p>
            <strong>Возраст: {{user.age}}</strong>
        </p>
    </article>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                    {% for user in users %}
                <li class="list-group-item">{{user.id}}<a href="/users/{{user.id}}"> Имя: {{user.username}}</a> Возраст: {{user.age}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
